*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    background-color:hsl(214, 47%, 23%) ;
}
header{
    text-align: center;
    color: white;
    padding: 20px 0;
    flex-basis: 10vh;
}
header h1{
    margin: 10px 0;
    font-weight: bolder;
    transition: .5s;
}
main{
    display: flex;
    flex-direction: column;
    flex-basis: 70vh;
}
.but-display{
    font-size: 3em;
    font-weight: bolder;
    padding: 5px;
    width: 90%;
    height: 100px;
    margin: auto;
    border-style:solid;
    border-width: 5px;
    border-image: linear-gradient(45deg,  hsl(349, 71%, 52%) , hsl(261, 73%, 60%), hsl(189, 59%, 53%) )1;
    z-index: 2;
}
footer div{
    text-align: center;
    font-size: 0.7em;
    color: white;
}
footer div a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}


